# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
venv/

# Environment variables
.env
.env.*

# Database
db.sqlite3
db

# Logs
logs/
*.log

# Collected static files
staticfiles/

# Media
media/

# IDE
.vscode/
.idea/

# OS
Thumbs.db
.DS_Store

# Python cache
.pytest_cache/
.mypy_cache/